<div class="author">
    <h1 class="author__heading">Hi, I am Precious.</h1>
    <p class="author__body">Software engineer, dropping my thoughts here once in a while.</p>
  </div>


  <section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
  
    <ul class="article-ul">

      <% posts.forEach(post => { %>

        <li>
          <a href="#">
              <span><%= post.title %></span>
              <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
          </a>
         </li>
       
      <% }) %>

    </ul>
  
  
   <a href="#" class="pagination">&gt; View Next</a>
  
    
  
  
  
  </section>